includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - ignore-by-php-version.neon.php

parameters:
    tmpDir: var/cache/phpstan
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/open-telemetry/api/Configuration/Config/ComponentProvider.php
        - vendor/open-telemetry/api/Configuration/Config/ComponentProviderRegistry.php
        - vendor/open-telemetry/api/Configuration/Config/ComponentPlugin.php
        - vendor/open-telemetry/api/Configuration/Context.php