includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface::.*#"
            paths:
                - src/