services:
  php:
    # the developer image comes from opentelemetry-php (the core repository), and is built by github actions
    image: ghcr.io/open-telemetry/opentelemetry-php/opentelemetry-php-base:${PHP_VERSION}
    volumes:
    - ./:/usr/src/myapp
    user: "${PHP_USER}:root"
    environment:
      XDEBUG_MODE: ${XDEBUG_MODE:-off}
      XDEBUG_CONFIG: ${XDEBUG_CONFIG:-''}
      PHP_IDE_CONFIG: ${PHP_IDE_CONFIG:-''}
      RABBIT_HOST: ${RABBIT_HOST:-rabbitmq}
      KAFKA_HOST: ${KAFKA_HOST:-kafka}
      MONGODB_HOST: ${MONGODB_HOST:-mongodb}
      MONGODB_PORT: ${MONGODB_PORT:-27017}
      MYSQL_HOST: ${MYSQL_HOST:-mysql}
      POSTGRESQL_HOST: ${POSTGRESQL_HOST:-postgresql}

  zipkin:
    image: openzipkin/zipkin-slim@sha256:d951994017185bce1c859b62e13adf640e26c37e08b90ca2e4de2669dc1aad87
    ports:
    - 9411:9411
  jaeger:
    image: jaegertracing/all-in-one@sha256:c87fc1d9b22766284168abb2ac57ac2160dfc26484e4f965ff2dcc6b849b263a
    environment:
      COLLECTOR_ZIPKIN_HOST_PORT: 9412
    ports:
    - 9412:9412
    - 16686:16686

  collector:
    image: otel/opentelemetry-collector-contrib@sha256:a7343f01869071ea3f4c5e1e97df1bb1b3c4d5c77247db80e053a80b9df530c4
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
      - ./files/collector/otel-collector-config.yml:/etc/otel-collector-config.yml

  rabbitmq:
    image: rabbitmq:3@sha256:923989f8408378579f1de69a0721f05a575a134a6763ac5c74248cc1325095f4
    hostname: rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3
    ports:
      - "5672:5672/tcp"
  kafka:
    image: confluentinc/cp-kafka:7.2.1@sha256:7494848da233258a5fae32abac99b7befee3c089b8d4da039420ac403920118b
    hostname: kafka
    ports:
      - "9092:9092/tcp"
    environment:
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_NODE_ID: 1
      KAFKA_ADVERTISED_LISTENERS: ${KAFKA_ADVERTISED_LISTENERS:-PLAINTEXT://kafka:29092,PLAINTEXT_HOST://kafka:9092}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    command: "bash -c '/tmp/update_run.sh && /etc/confluent/docker/run'"
    volumes:
      - ./docker/kafka/update_run.sh:/tmp/update_run.sh

  mongodb:
    image: mongo:4@sha256:52c42cbab240b3c5b1748582cc13ef46d521ddacae002bbbda645cebed270ec0
    hostname: mongodb
    ports:
      - "27017:27017/tcp"

  mysql:
    image: mysql:8.0@sha256:f37951fc3753a6a22d6c7bf6978c5e5fefcf6f31814d98c582524f98eae52b21
    hostname: mysql
    ports:
      - "3306:3306/tcp"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: otel_db
      MYSQL_USER: otel_user
      MYSQL_PASSWORD: otel_passwd
    healthcheck:
      test: mysql -uotel_user -potel_passwd -e "USE otel_db;"
      interval: 30s
      timeout: 30s
      retries: 3
    volumes:
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  postgresql:
    image: postgres:17.5@sha256:aadf2c0696f5ef357aa7a68da995137f0cf17bad0bf6e1f17de06ae5c769b302
    hostname: postgresql
    ports:
      - "5432:5432/tcp"
    environment:
      POSTGRES_DB: otel_db
      POSTGRES_USER: otel_user
      POSTGRES_PASSWORD: otel_passwd
    healthcheck:
      test: ["CMD-SHELL", "PGPASSWORD=otel_passwd psql -U otel_user -d otel_db -h 127.0.0.1 -c 'SELECT 1'"]
      interval: 30s
      timeout: 90s
      retries: 3
    volumes:
      - ./docker/postgresql/init.sql:/docker-entrypoint-initdb.d/init.sql
