includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 5
    paths:
        - .
    excludes_analyse:
        - var
        - vendor
        - proto
        - tests/TraceContext/W3CTestService
        - examples  # TODO: Remove this once examples are updated
