<?xml version="1.0"?>
<psalm
    errorLevel="3"
    cacheDirectory="var/cache/psalm"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd">
    <projectFiles>
        <directory name="src"/>
        <directory name="tests"/>
        <ignoreFiles>
            <directory name="src/OtelSdkBundle/Resources"/>
            <file name="src/OtelSdkBundle/DependencyInjection/Configuration.php"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
    <issueHandlers>
        <UndefinedDocblockClass>
            <errorLevel type="suppress">
                <file name="src/OtelSdkBundle/DependencyInjection/OtelSdkExtension.php" />
                <referencedClass name="Symfony\Component\DependencyInjection\ContainerBuilder" />
            </errorLevel>
        </UndefinedDocblockClass>
    </issueHandlers>
</psalm>
