includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#Call to an undefined method .*#"
            paths:
                - src/MongoDBInstrumentationSubscriber.php
