includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
           message: '#Undefined variable: \$this#'
           path: tests/*
        -
           message: '#is not contravariant with parameter#'
           path: tests/*
    tmpDir: var/cache/phpstan
    level: 5
    paths:
        - src
        - tests
