includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: var/cache/phpstan
    level: 8
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: "#.*with no type specified.#"
            paths:
                - src/SwooleContextStorage.php
